<div class='row'>
  <div class="col-md-12">
    <div class="jumbotron">
      <center> 
        <h1>{{playerName}} <img ng-src="{{team_img}}"></h1>
 	    <!-- <img ng-src="{{img}}"> -->  
      </center>
      <p class="text-center"><b>Team: </b>{{player.team_name}} <b>| Position: </b>{{player.pos}} <b>| Number of Arrests: </b>{{player.num_arrests}} <b>| Last Arrest:</b> {{player.last_arrest}}</p>
    </div>
  </div>
</div>
<table id="table">
  <thead>
    <tr><th>Category</th><th>Date</th><th>Encounter</th><th>Description</th><th>Outcome</th></tr>
  </thead>
  <tbody>
  </tbody>
</table>