<div class='row'>
  <div class="col-md-12">
    <div class="jumbotron">
      <center> 
        <h1>{{playerName}}</h1>
 	    <!-- <img ng-src="{{img}}"> --> 
      </center>
      <p class="text-center">Team: {{player.Team}} | Position: {{player.Pos}} | Number of Arrests: {{player.Num_Arrests}} | Last Arrest: {{player.Last_Arrest}}</p>
    </div>
  </div>
</div>
<table id="table">
  <thead>
    <tr><th>Category</th><th>Date</th><th>Encounter</th><th>Description</th><th>Outcome</th></tr>
  </thead>
  <tbody>
  </tbody>
</table>