<div class='row'>
  <div class="col-md-4">
    <div class="jumbotron">
      <center> 
        <h1>{{teamName}}</h1> 
 	    <img ng-src="{{img}}">  
      </center>
    </div>
  </div>
  <!--
  <div class="col-md-8">
    <center> 
      <crime-categories-pie></crime-categories-pie>
    </center>
  </div> -->
</div>

<table id="table">
  <thead>
    <tr><th class="site_name">Name</th><th>Position</th><th>Category</th><th>Encounter</th><th>Outcome</th></tr>
  </thead>
  <tbody>
  </tbody>
</table>